<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadtree</title>
    <link rel="stylesheet" href="../styles/sketch.css">

    <script src="../../p5/p5.min.js"></script>
    <script src="../scripts/variables and events.js"></script>

    <script src="../classes/Quadtree.js"></script>
    <script src="../classes/Particle.js"></script>

    <script src="../scripts/sketch0.js"></script>
    <script src="../scripts/sketch1.js"></script>
  </head>
  <body>
    <main>
    </main>
    <div 
      class="buttons" 
      style="display: flex; height: 20px; align-items: center;"
    >
      <input type="button" value="Change" class="change-button">
      <input type="button" value="Get Framerate" class="frame-button">
      <p class="frame" style="margin-left: 10px;">Framerate: 0</p>
    </div>
  </body>
</html>